<div class="slider-item" style="background-image:url({% static 'drcare_FE/images/bg_1.jpg' %})" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
    <div class="col-md-6 text ftco-animate">
      <h1 class="mb-4">Helping You <span>Stay Happy One</span></h1>
      <h3 class="subheading">Everyday We Bring Hope and Smile to the Patient We Serve</h3>
      <p><a href="#" class="btn btn-secondary px-4 py-3 mt-3">View our works</a></p>
    </div>
  </div>
  </div>
</div>

<div class="slider-item" style="background-image:url({% static 'drcare_FE/images/bg_2.jpg' %})" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
    <div class="col-md-6 text ftco-animate">
      <h1 class="mb-4">We Care <span>About Your Health</span></h1>
      <h3 class="subheading">Your Health is Our Top Priority with Comprehensive, Affordable medical.</h3>
      <p><a href="#" class="btn btn-secondary px-3 py-3 mt-3">View our works</a></p>
    </div>
  </div>
  </div>
</div>

<a class="nav-link ftco-animate" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Surgical</a>

	              <a class="nav-link ftco-animate" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">Dental</a>

	              <a class="nav-link ftco-animate" id="v-pills-4-tab" data-toggle="pill" href="#v-pills-4" role="tab" aria-controls="v-pills-4" aria-selected="false">Ophthalmology</a>

	              <a class="nav-link ftco-animate" id="v-pills-5-tab" data-toggle="pill" href="#v-pills-5" role="tab" aria-controls="v-pills-5" aria-selected="false">Cardiology</a>

                  <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-day-2-tab">
                    <div class="row departments">
                        <div class="col-lg-4 order-lg-last d-flex align-items-stretch">
                            <div class="img d-flex align-self-stretch" style="background-image: url({% static 'drcare_FE/images/dept-2.jpg' %});"></div>
                        </div>
                        <div class="col-md-8">
                            <h2>Surgical Deparments</h2>
                            <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word.</p>
                                          <div class="row mt-5 pt-2">
                                              <div class="col-lg-6">
                                                  <div class="services-2 d-flex">
                                                      <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-first-aid-kit"></span></div>
                                                      <div class="text">
                                                          <h3>Primary Care</h3>
                                                          <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-lg-6">
                                                  <div class="services-2 d-flex">
                                                      <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-dropper"></span></div>
                                                      <div class="text">
                                                          <h3>Lab Test</h3>
                                                          <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-lg-6">
                                                  <div class="services-2 d-flex">
                                                      <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-experiment-results"></span></div>
                                                      <div class="text">
                                                          <h3>Symptom Check</h3>
                                                          <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-lg-6">
                                                  <div class="services-2 d-flex">
                                                      <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-heart-rate"></span></div>
                                                      <div class="text">
                                                          <h3>Heart Rate</h3>
                                                          <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-day-3-tab">
                    <div class="row departments">
                        <div class="col-lg-4 order-lg-last d-flex align-items-stretch">
                            <div class="img d-flex align-self-stretch" style="background-image: url({% static 'drcare_FE/images/dept-3.jpg' %});"></div>
                        </div>
                        <div class="col-md-8">
                            <h2>Dental Deparments</h2>
                            <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word.</p>
                                          <div class="row mt-5 pt-2">
                                              <div class="col-lg-6">
                                                  <div class="services-2 d-flex">
                                                      <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-first-aid-kit"></span></div>
                                                      <div class="text">
                                                          <h3>Primary Care</h3>
                                                          <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-lg-6">
                                                  <div class="services-2 d-flex">
                                                      <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-dropper"></span></div>
                                                      <div class="text">
                                                          <h3>Lab Test</h3>
                                                          <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-lg-6">
                                                  <div class="services-2 d-flex">
                                                      <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-experiment-results"></span></div>
                                                      <div class="text">
                                                          <h3>Symptom Check</h3>
                                                          <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-lg-6">
                                                  <div class="services-2 d-flex">
                                                      <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-heart-rate"></span></div>
                                                      <div class="text">
                                                          <h3>Heart Rate</h3>
                                                          <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-day-4-tab">
                    <div class="row departments">
                        <div class="col-lg-4 order-lg-last d-flex align-items-stretch">
                            <div class="img d-flex align-self-stretch" style="background-image: url({% static 'drcare_FE/images/dept-4.jpg' %});"></div>
                        </div>
                        <div class="col-md-8">
                            <h2>Ophthalmology Deparments</h2>
                            <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word.</p>
                                          <div class="row mt-5 pt-2">
                                              <div class="col-lg-6">
                                                  <div class="services-2 d-flex">
                                                      <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-first-aid-kit"></span></div>
                                                      <div class="text">
                                                          <h3>Primary Care</h3>
                                                          <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-lg-6">
                                                  <div class="services-2 d-flex">
                                                      <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-dropper"></span></div>
                                                      <div class="text">
                                                          <h3>Lab Test</h3>
                                                          <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-lg-6">
                                                  <div class="services-2 d-flex">
                                                      <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-experiment-results"></span></div>
                                                      <div class="text">
                                                          <h3>Symptom Check</h3>
                                                          <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-lg-6">
                                                  <div class="services-2 d-flex">
                                                      <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-heart-rate"></span></div>
                                                      <div class="text">
                                                          <h3>Heart Rate</h3>
                                                          <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="v-pills-5" role="tabpanel" aria-labelledby="v-pills-day-5-tab">
                    <div class="row departments">
                        <div class="col-lg-4 order-lg-last d-flex align-items-stretch">
                            <div class="img d-flex align-self-stretch" style="background-image: url({% static 'drcare_FE/images/dept-5.jpg' %});"></div>
                        </div>
                        <div class="col-md-8">
                            <h2>Cardiology Deparments</h2>
                            <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word.</p>
                                          <div class="row mt-5 pt-2">
                                              <div class="col-md-6">
                                                  <div class="services-2 d-flex">
                                                      <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-idea"></span></div>
                                                      <div class="text">
                                                          <h3>Primary Care</h3>
                                                          <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-md-6">
                                                  <div class="services-2 d-flex">
                                                      <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-idea"></span></div>
                                                      <div class="text">
                                                          <h3>Lab Test</h3>
                                                          <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-md-6">
                                                  <div class="services-2 d-flex">
                                                      <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-idea"></span></div>
                                                      <div class="text">
                                                          <h3>Symptom Check</h3>
                                                          <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-md-6">
                                                  <div class="services-2 d-flex">
                                                      <div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-experiment-results"></span></div>
                                                      <div class="text">
                                                          <h3>Heart Rate</h3>
                                                          <p>Far far away, behind the word mountains, far from the countries Vokalia.</p>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>