{% extends "blog/base.html" %}

{% block title %}Share a post{% endblock %}

{% block content %}
  {% if sent %}
    <h1>E-mail successfully sent</h1>
    <p>
      "{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}.
    </p>
  {% else %}
    <div>
        <h1 class="mb-5 h4 font-weight-bold">Share "{{ post.title }}" by e-mail</h1>
    <form method="post" class="p-5 bg-light">
      {{ form.as_div }}
      {% csrf_token %}
    </br>
      <input type="submit" value="Send e-mail" class="btn py-3 px-4 btn-primary">
    </form>
    </div>
  {% endif %}
{% endblock %}